<template>
  <div class="d-flex">
    <b-col cols="8">
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
              <img src="../../assets/png/1bdfb8397ecabfdf323b9cd5c443f8c7.png">
            </template>
          </b-carousel-slide>
        </b-link>
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
              <img src="../../assets/png/3b28db0b84a97dd213776534785b3d88.png">
            </template>
          </b-carousel-slide>
        </b-link>
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
              <img src="../../assets/png/a30fc41d1e22ddfd8c86536f0fbb4557.png">
            </template>
          </b-carousel-slide>
        </b-link>
      </b-carousel>
    </b-col>

    <b-col cols="4">
      <b-link to="">
        <img src="../../assets/png/bc54912198e257488864c087bb933eae.png" class="w-100">
      </b-link>
    </b-col>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>
