<template>
  <div class="d-flex">
    <b-col cols="8">
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
                <img src="../../assets/png/ac5cfd96399952d830befa7e51f21bff.png">
              </template>
          </b-carousel-slide>
        </b-link>
        <b-link to="#">
          <b-carousel-slide>
             <template v-slot:img>
                <img src="../../assets/png/437a3ec385b8ba821e32b1177f9cb101.png">
              </template>
          </b-carousel-slide>
        </b-link>
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
              <img src="../../assets/png/9fdb7ee67252749a566ae33df2de6d49.png">
            </template>
          </b-carousel-slide>
        </b-link>
        <b-link to="#">
          <b-carousel-slide>
            <template v-slot:img>
              <img src="../../assets/png/22f8f7449c9a44bbd61f087856ca2ed3.png">
            </template>
          </b-carousel-slide>
        </b-link>
      </b-carousel>
    </b-col>

    <b-col cols="4">
      <b-link to="#" class="image">
        <img src="../../assets/img/11eccd2cc57eb5e6b1304b2ebc9187fd.jpg" class="w-100">
      </b-link>
    </b-col>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
  }
</script>
