<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
    <h2>Покупки из-за рубежа</h2>
    <hr>
    <p>
      Supermarket.am дает возможность делать онлайн
      покупки для друзей и родственников для тех армян, которые живут за границей.
    </p>
    <p>
      Выбирая товары, представленные на нашем сайте, вы можете заказать их для
      своих родственников, расплачиваясь картами Master Card, Visa. Доставка
      будет осуществлена в соответствии с указанной датой и временем.
    </p>
    <p>
      Кстати, цены товара доступны в драмах, а также в долларах и рублях.
    </p>
    <p>
      В случае возникновения каких-либо вопросов вы можете связаться с
      операторами нашего call-центра по номеру телефона
      +37411 555555 (для повышения качества обслуживания звонок может быть записан).
    </p>
  </b-col>
</div>
</template>

<script>
import TopBar from '~/components/help-center/HelpCenterTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Центр помощи',
          to: '/help-center/'
        },
        {
          text: 'Покупки из-за рубежа',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
