<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
    <h2>Доставка и оплата</h2>
    <hr>
    <h5>Доставка</h5>
    <h5>Основная информация</h5>
    <p>
      Помимо онлайн-версии, заказы принимаются также по телефону 011555555
      (для повышения качества обслуживания звонок может быть записан).
      На сайте Supermarket.am Вы выбираете товар, указываете адрес, по которому он
      должен быть доставлен, номер телефона и период времени, в который товар должен быть
      доставлен
      (день и время), а также дополнительную информацию, если это необходимо. , Например
      Вы можете
      подсказать водителю, как легко найти ваше здание, или что в дверь  нужно постучатся
      а не звонить
      и т. д. В любом случае, имея домашний /
      телефонный номер, наш водитель сможет связаться с вами, если потребуется.
      <br>
      В sumepmarket. am нет ограничений по заказу относительно цены, количества
      товаров. Это означает, что вы можете заказать любой товар, включенный в наш каталог.
      Независемости от того сделан ли заказ на 100 или 100 000 драм, 100 г или 100 кг,
      оплата будет стедала исключительно в зависимости от цены товара.
    </p>
    <h6>Статус заказа и история</h6>
    <p>
      После входа на сайт в помощю вашей личной страницы, у вас будет возможность
      просмотреть историю заказов, дату того или иного заказа и статус («дано для сбора»,
      «доставка начата», «доставка завершена» и т. Д.). ),
      также вы можете просмотреть общую стоимость предметов, собранных в вашей карзине.
    </p>
    <h6>Условия доставки</h6>
    <p>
      Бывают случаи, когда после подтверждения заказа вы, возможно,
      вспомнили про товар, который необходимо заказать. В таких случаях вы можете
      сформировать новый заказ или связаться с нашим колл-центром по номеру 011555555
      (для повышения качества обслуживания звонок может быть записан)
      и попросить оператора добавить необходимый элемент в ваш заказ.
    </p>
    <h6>Доставка в городе  Ереван бесплатная</h6>
    <h6>Оплата</h6>
    <p>
      На сайте supermarket.am оплата осуществляется несколькими способами.
    <br>
      Онлайн платеж. На нашем сайте вы можете оплатить с помощю Master и Visa карт.
    <br>
      Наличная оплата. Это означает, что вы заплатите, как только получите заказ.
      Куриер предоставит вам чек.
      При заполнении деталей доставки вы должны указать, нужно ли водителю брать
      наличные или нет.
    <br>
      По карте при получении заказа. При выборе этого способа оплаты водитель
      принесет POS-терминал, и вы сможете расплатиться картой и получить чек.
    </p>
    <h6>Условия оплаты (Наличные)</h6>
    <p>
      В случае оплаты наличными, оплата производится сразу после получения заказа.
      Водитель имеет право забрать заказ,
      если клиент отказывается платить или предлагает оплатить в будущем.
    <br>
      Платежи не принимаются в долларах или другой валюте, так
      как это противоречит законодательству Республики Армения.
    <br>
      Все цены, указенные в  сайте, включают все налоги.
    </p>
  </b-col>
</div>
</template>

<script>
import TopBar from '~/components/help-center/HelpCenterTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Центр помощи',
          to: '/help-center/'
        },
        {
          text: 'Доставка и оплата',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
