<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px 150px 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
    <h2>Руководство пользователя</h2>
    <hr>
    <h5>Content here...</h5>
  </b-col>
</div>
</template>

<script>
import TopBar from '~/components/help-center/HelpCenterTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Центр помощи',
          to: '/help-center/'
        },
        {
          text: 'Руководство пользователя',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
