<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>

    <div class="text-dark ml-3">
      <h2>Кибер понедельник</h2>
      <hr>
      <div class="mb-3">28.04.2020</div>
    </div>
    <div>
      <img class="ml-4" src="../../assets/img/72b0b7e483d86ea988c725c99f35cfc1.jpg" style="width:640px; height:420px;">
    </div>


  </b-col>
</div>
</template>

<script>
import TopBar from '~/components/about/AboutTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Новости',
          to: '/news'
        },
        {
          text: '',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
