<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
    <h2>Новости</h2>
    <hr class="mb-4">

    <div  v-for="item of lists" :key="item.index">
      <b-link to="/detail-new" class="d-flex" style="text-decoration:none; align-items:center;">
        <div>
          <img class="ml-4" style="width:114px; height:75px;" :src="item.image">
        </div>
        <div class="text-dark ml-3">
          <div>{{item.date}}</div>
          <div>{{item.name}}</div>
        </div>
      </b-link>
      <hr>
    </div>

  </b-col>
</div>
</template>

<script>
import TopBar from '~/components/about/AboutTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      lists: [],
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Новости',
          active: true
        }
      ]
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const res = await fetch("news.json");
      const val = await res.json();
      this.lists = val;
      console.log(val)
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
