<template>
<div>
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
    <div v-if="CART.length">
      <h2 class="text-center mb-3">Ваша корзина</h2>
      <div>
        <hr>
        <b-row class="pl-5 py-3">
          <b-col cols="8">Продукт</b-col>
          <b-col cols="4" class="d-flex" style="padding-right:50px; justify-content: space-between;">
            <div>Цена</div>
            <div>Количество</div>
            <div>Итого</div>
          </b-col>
        </b-row>
      </div>
      <TrashCartWithComponents
        v-for="(cartItem, index) of CART"
        :key="cartItem.id"
        :cart_item_data="cartItem"
        @daleteFromCart="daleteFromCart(index)"
      />


        <div>
          <div class="d-flex mt-5 mx-5" style="justify-content: space-between;">
            <div class="clean">
              <b-icon icon="x-circle" font-scale="1" class="mr-2"></b-icon>Очистить корзину
            </div>
            <div class="price">Итого: <span>6000</span></div>
          </div>
          <div style="text-align: center;" class="mt-4">
              <b-button class="custom-button">
              Оформить заказ
              </b-button>
          </div>
        </div>
    </div>

    <div class="pb-5" v-else>
      <h2 style="text-align: center;">Ваша корзина пуста</h2>
      <b-card class="my-5" style="text-align: center;">
        <p>
          Если вы уже зарегистрированы на нашем сайте,
          то авторизуйтесь, чтобы увидеть свою сохраненную с прошлого сеанса корзину и избранное.
        </p>
        <div class="center"  style="text-align:center;">
          <b-link  to="/auth/register">
            <button class="button-text hover mr-1 mt-4">Войти</button>
          </b-link>
          <b-link to="/auth/forgot-password" class="ml-1 text-success">Забыли пароль?</b-link>
        </div>
      </b-card>
      <p class="mx-4">
        Скорее всего, вы ничего еще не положили в нее. Для того, чтобы поместить товар в
        корзину, вам необходимо нажать на кнопку «В корзину» рядом с заинтересовавшим вас товаром.
      </p>
      <p class="mx-4">
        Если вы уже положили что-то в корзину, а она еще пуста,
        возможно вам будет достаточно нажать F5 и обновить данную страницу.
      </p>
      <p class="mx-4">
        Возможно, позиции из корзины стали недоступны для заказа.
      </p>
      <p class="mx-4 pb-5">
        Если у вас возникли дополнительные вопросы, пожалуйста,
        свяжитесь с центром звонков по телефону +374 11 555.555 / Web звонков.
      </p>
    </div>

  </b-col>
</div>
</template>


<script>
import favourite from '~/components/favourite'
import TrashCartWithComponents from '~/components/TrashCartWithComponents'
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {

      searchResult: {},
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Личный кабинет',
          to: '/personal/'
        },
        {
          text: 'Ваша корзина',
          active: true
        }
      ]
    }
  },
  components: {
    favourite,
    TrashCartWithComponents
  },
  computed: {
    ...mapGetters ([
      'CART'
    ])
  },
  methods: {
    ...mapActions ([
      'DELETE_FROM_CART'
    ]),
    daleteFromCart(index) {
      this.DELETE_FROM_CART(index)
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-button {
  background-color: #056a35;
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: content-box;
  transition: all .3s;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 20px;
}
.price {
  font-size: 25px;
  font-family: "Roboto";
  font-weight: bold;
  span {
    color: #CD2004;
  }
}
.clean {
  font-size: 18px;
  font-family: "Roboto";
  color: #7F7F7F;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #056a35;
  }
}
button {
    border: 1px solid #056a35;
    border-radius: 5px;
    padding: 6px 30px;
    &:hover {
      background: #056a35;
    }
  }
  .text-green {
    color:#056a35;
  }
  .hover {
    background: #056a35;
    color:#fff;
  }
  .button-text {
    text-transform:uppercase;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    &:hover {
      color:#fff;
    }
  }
</style>


