<template>
<div>
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>

    <b-container b-container fluid class="mt-5">
        <b-row class="my-1 mb-3">
          <b-col cols="3">
            <label>Email</label>
          </b-col>
          <b-col cols="9">
            <b-form-input type="email"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col cols="3">
            <label>Пароль</label>
          </b-col>
          <b-col cols="9">
            <b-form-input type="password"></b-form-input>
          </b-col>
        </b-row>
      </b-container>
      <b-container class="center" style="text-align:center;">
        <div>
          <button class="button-text hover mr-1 mt-4">Войти</button>
          <b-link to="/auth/forgot-password" class="ml-1 text-success">Забыли пароль?</b-link>
        </div>
        <b-link to="/auth/register">
          <button class="button-text text-green mt-4">Я новый пользователь</button>
        </b-link>
      </b-container>
  </b-col>
</div>
</template>


<script>
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      status: 'Подвертите что вы согласны',
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Личный кабинет',
          active: true
        }
      ]
    }
  },
  components: {
    favourite
  }
}
</script>

<style lang="scss" scoped>
button {
    border: 1px solid #056a35;
    border-radius: 5px;
    padding: 6px 30px;
    &:hover {
      background: #056a35;
    }
  }
  .text-green {
    color:#056a35;
  }
  .hover {
    background: #056a35;
    color:#fff;
  }
  .button-text {
    text-transform:uppercase;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    &:hover {
      color:#fff;
    }
  }
</style>


