<template>
        <b-row class="pb-5">
            <b-col cols="12" class="px-5">
                <b-form-file
                    v-model="file"
                    :state="Boolean(file)"
                    placeholder="Выберите изображение"
                    class="mt-3"
                    accept=".jpg, .png, .gif, .svg"
                ></b-form-file>
                <!-- <div class="addImage text-center py-5 mt-3">
                    <b-icon icon="plus" class="text-danger"></b-icon>
                </div> -->
                <div class="mt-4">
                    <h5 class="text-secondary">Заголовок:</h5>
                    <b-col class="p-0">
                        <input type="text" class="p-1 w-100" v-model="title">
                    </b-col>
                </div>
                <div class="mt-4">
                    <h5 class="text-secondary">Цена без скидки:</h5>
                    <b-col class="p-0">
                        <input class="p-1 w-100" type="number" v-model="sale">
                    </b-col>
                </div>
                <div class="mt-4">
                    <h5 class="text-secondary">Действующая цена:</h5>
                    <b-col class="p-0">
                        <input class="p-1 w-100" type="number" v-model="price">
                    </b-col>
                </div>
                <div class="mt-4">
                    <h5 class="text-secondary">Выберете раздел:</h5>
                    <b-col class="p-0">
                        <b-form-group>
                            <b-form-radio v-model="selected" name="some-radios" value="productsRadio">Продукты</b-form-radio>
                            <b-form-radio v-model="selected" name="some-radios" value="homeCollectionRadio">хозяйственные товары</b-form-radio>
                        </b-form-group>
                    </b-col>
                </div>
                <div class="mt-2">
                    <h5 class="text-secondary">Категория:</h5>
                    <b-form-select class="w-100">
                        <b-form-select-option  v-for="item of displayColection" :key="item.index">
                            {{ item.name }}
                        </b-form-select-option>
                    </b-form-select>
                </div>
                <h5 class="text-secondary mt-4">Детали:</h5>
                <div class="mt-2">
                    <draggable v-model="myArray" group="people" @start="drag=true" @end="drag=false">
                        <b-list-group-item class="border-right-0 border-left-0 rounded-0 listHover" v-for="item of detail" :key="item">
                            <b-col cols="12" class="d-flex p-0">
                                <b-col cols="5" class="text-secondary px-0"><h6><small>{{item.name}}</small></h6></b-col>
                                <b-col cols="6" class="text-secondary px-0"><h6><small>{{item.discription}}</small></h6></b-col>
                                <button class="custom-hover-button buttonPosition bg-white border-0">
                                    <b-icon icon="backspace-fill"></b-icon>
                                </button>
                                <button class="custom-hover-button bg-white border-0">
                                    <b-icon icon="pencil"></b-icon>
                                </button>
                            </b-col>
                        </b-list-group-item>
                        <div>
                            <b-modal
                                id="add-home-categories"
                                ref="modal"
                                title="Введите название категории хозяйственных товаров"
                                @show="resetModal"
                                @hidden="resetModal"
                                @ok="handleOk"
                            >
                            <form ref="form" @submit.stop.prevent="handleSubmit">
                                <b-form-group
                                    :state="nameState"
                                    label-for="name-input"
                                    invalid-feedback="Name is required"
                                >
                                <b-form-input
                                    id="name-input"
                                    placeholder="Название"
                                    v-model="name"
                                    :state="nameState"
                                    required
                                    class="mb-3"
                                ></b-form-input>
                                <b-form-textarea
                                    id="name-input"
                                    placeholder="Описание"
                                    v-model="discription"
                                    :state="discriptionState"
                                    required
                                    class="mb-3"
                                    rows="10"
                                ></b-form-textarea>
                                </b-form-group>
                            </form>
                            </b-modal>
                        </div>
                        <div>
                        <b-button  v-b-modal.add-home-categories class="w-100 mt-2 border-0">
                            <b-icon icon="plus"></b-icon>
                        </b-button>
                        </div>
                    </draggable>
                </div>
                <div class="mt-4">
                    <h5 class="text-secondary">Способ хранения:</h5>
                    <b-col class="p-0">
                        <textarea
                            class="mb-3 w-100"
                            rows="10"
                        ></textarea>
                    </b-col>
                </div>
            </b-col>
        </b-row>
</template>

<script>
import draggable from 'vuedraggable'
export default {
    components: {
        draggable
    },
    data() {
        return {
            file: '',
            images: '',
            title: '',
            sale: '',
            price: '',
            displayColection: [],
            name: '',
            discription: '',
            nameState: null,
            discriptionState: null,
            detail: [
                {
                    name: "Ингридиенты",
                    discription: "Aqua, sodium laureth sulfate, disodium cocoamphodiacetate, laureth-2, sodium chloride, PEG-7 glyceryl cocoate, glycol distearate,citric acid, sodium benzoate, laureth-4, parfum , salicylic acid, cocamidopropyl betaine, propylene glycol, niacinamide, panthenol, hydrogenated castor oil, polyquaternium-10, hexyl cinnamal, butylphenyl methylpropional, benzyl salicylate, benzyl alcohol, linalool, glycerin, nimphaea alba root extract, limonene, sorbitol."
                }
            ]
        }
    },
    mounted() {
        this.fetchData();
    },
    methods: {
        async fetchData() {
            const res = await fetch("../HomeCollectionCategories.json");
            const val = await res.json();
            this.displayColection = val;
        },
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      resetModal() {
        this.name = ''
        this.discription = ''
        this.nameState = null
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }
        // Push the name to submitted names
        this.detail.push(this.name, this.discription)
        console.log(this.detail)
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('add-home-categories')
        })
      }
    }
}
</script>

<style lang="scss" scoped>
    b-card-text {
        font-size: 1.6rem;
    }
    .fixdCard {
        position: fixed;
        top: 10%;
        right: -24%;
        z-index: 15;
        transform: translateX(-90%);
    }
    .addImage {
        border: 1px solid red;
        background: rgba(255, 0, 0, 0.1);
        border-radius: 2px;
        width: 100%;
        max-width: 100px;
    }
    .countButton {
        outline: none;
        &:hover {
            background: #f5db00;
        }
    }
    .counter {
        position: absolute;
        left: 50%;
		transform: translateX(-50%);
    }
    .titleCard {
        min-height: 53px;
    }
    .saleCard {
        min-height: 25px;
    }
    .stockCard {
        transition: 1s;
        &:hover {
            border: 1px solid #056a35;
            box-shadow: 0 7px 17px 0 rgba(0, 35, 32, 0.3);
            z-index: 10;
            transition: 1s;
        }
        img {
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }

    .heart {
      position: absolute;
      z-index: 1000;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 16px;
      transition: .3s;
      opacity: 0.4;
      background: transparent url('../../assets/png/heart.png') no-repeat 50% 50%/cover;
      &:hover {
        opacity: 1;
        background: transparent url('../../assets/png/heart.png') no-repeat 50% 50%/cover;
      }
    }
    .listHover {
        &:hover {
            .custom-hover-button {
                opacity: 1;
            }
        }
    }
    .custom-hover-button {
        opacity: 0;
        height: 40px;
        width: 40px;
    }
</style>