<template>
  <div>
    <div class="d-flex mt-3">
      <b-pagination
        v-model="currentPage"
        size="sm"
        :total-rows="rows"
        :per-page="perPage"
        @input="paginate(currentPage)"
        class="mx-auto bg-dark"
      >
        <template v-slot:prev-text><span class="text-dark">Предыдущая страница</span></template>
        <template v-slot:next-text><span class="text-dark">Следующая страница</span></template>
        <template v-slot:first-text><span class="text-dark"><b-icon icon="arrow-bar-left"></b-icon></span></template>
        <template v-slot:last-text><span class="text-dark"><b-icon icon="arrow-bar-right"></b-icon></span></template>
      </b-pagination>
    </div>
    <b-card-group>
        <div>
          <b-col cols="3" class="p-0 w-100 d-inline-block h-auto" v-for="item of displayCards" :key="item.index">
              <b-card class="text-center rounded-0 pb-10 stockCard">
                  <div>
                    <div class="custom-button" @click="showMsgBoxTwo"><b-icon icon="x" font-scale="1.5"></b-icon></div>
                    <!-- Return value: {{ String(boxTwo) }} -->
                  </div>
                  <b-link to="/AP-Edit" class="custom-li text-dark"><b-icon icon="pencil-square"></b-icon></b-link>

                  <b-link to="/about/aboutProduct">
                      <img :src="item.images" alt="Card image" class="w-100 mb-2">
                  </b-link>
                  <b-card-text class="text-center font-weight-bold px-2 my-0 mb-4 titleCard">
                      {{item.title}}
                  </b-card-text>
                  <b-card-text>
                      <div class="saleCard"><del>{{item.sale}}</del></div>
                      <h6 class="text-danger font-weight-bold">{{item.price}}</h6>
                  </b-card-text>
              </b-card>
          </b-col>
      </div>
    </b-card-group>
    <div class="d-flex mt-3">
      <b-pagination
        v-model="currentPage"
        size="sm"
        :total-rows="rows"
        :per-page="perPage"
        @input="paginate(currentPage)"
        class="mx-auto bg-dark"
      >
        <template v-slot:prev-text><span class="text-dark">Предыдущая страница</span></template>
        <template v-slot:next-text><span class="text-dark">Следующая страница</span></template>
        <template v-slot:first-text><span class="text-dark"><b-icon icon="arrow-bar-left"></b-icon></span></template>
        <template v-slot:last-text><span class="text-dark"><b-icon icon="arrow-bar-right"></b-icon></span></template>
      </b-pagination>
    </div>
  </div>
</template>


<script>
import stockCard from '~/components/Stock/StockCard'
import addProducts from '~/components/Admin-panel/AddProducts'


export default {
  components: {
    stockCard,
    addProducts
  },
  data() {
    return {
      perPage: 20,
      currentPage: 20,
      rows: 1,
      cards: [],
      displayCards: [],
      boxTwo: ''
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const res = await fetch("cards.json");
      const val = await res.json();
      this.cards = val;
      this.rows = this.cards.length;
      this.displayCards = val.slice(0, 20);
    },
    paginate(currentPage) {
      const start = (currentPage - 1 ) * this.perPage;
      this.displayCards = this.cards.slice(start, start+20);
    },
    showMsgBoxTwo() {
      this.boxTwo = ''
      this.$bvModal.msgBoxConfirm('Вы уверены что хотите удалить товар ?', {
        title: 'Пожалуйста подтвердите',
        buttonSize: 'sm',
        okVariant: 'danger',
        cancelVariant: 'dark',
        okTitle: 'ДА',
        cancelTitle: 'НЕТ',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      })
      .then(value => {
        this.boxTwo = value
      })
      .catch(err => {
        // An error occurred
      })
    }
  }
}
</script>



<style lang="scss" scoped>
.custom-li {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
  display: none;
}
.custom-button {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 15;
  cursor: pointer;
}
    b-card-text {
        font-size: 1.6rem;
    }
    .countButton {
        outline: none;
        &:hover {
            background: #f5db00;
        }
    }
    .counter {
        position: absolute;
        left: 50%;
		    transform: translateX(-50%);
    }
    .titleCard {
        height: 53px;
    }
    .saleCard {
        height: 25px;
    }
    .stockCard {
        transition: 1s;
        &:hover {
            border: 1px solid #056a35;
            box-shadow: 0 7px 17px 0 rgba(0, 35, 32, 0.3);
            z-index: 10;
            transition: 1s;
            .custom-li,
            .custom-button {
              display: block;
            }
        }
        img {
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }
</style>
