<template>
    <div>
        <b-navbar toggleable="lg" style=" background: rgb(42, 44, 47);">

            <b-navbar-toggle target="nav-collapse ml-auto"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <!-- <b-navbar-nav>
                    <b-nav-item href="#">Link</b-nav-item>
                    <b-nav-item href="#">Disabled</b-nav-item>
                </b-navbar-nav> -->

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2 border-0" placeholder="Search"></b-form-input>
                        <b-button size="sm" class="my-2 my-sm-0 bg-white border-0" type="submit">
                            <b-icon icon="search" class="text-dark"></b-icon>
                        </b-button>
                    </b-nav-form>

                    <b-nav-item-dropdown right class="pl-3 pr-2">
                        <template v-slot:button-content>
                            <b-icon icon="person-fill" class="text-white"></b-icon>
                        </template>
                        <b-dropdown-item class="text-center p-0">
                            <div class="pt-3">
                                <b-img src="https://www.bootstrapdash.com/demo/star-admin-free/jquery/src/assets/images/faces/face8.jpg" alt="" rounded="circle"></b-img>
                            </div>
                            <h6 class="my-1">Allen Moreno</h6>
                            <h6 class="m-0 pb-3"><small>allenmoreno@gmail.com</small></h6>
                        </b-dropdown-item>
                        <b-dropdown-item href="#" class="border-top py-1">My profile</b-dropdown-item>
                        <b-dropdown-item href="#" class="border-top py-1">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
