<template>
  <div style="min-height:100vh; height:100%; background: rgb(42, 44, 47);">
    <div class="border-0 d-flex pt-4" style="background: transparent; justify-content:center;">
      <b-link to="/" class="p-0">
        <img src="../../assets/svg/logo.svg" alt="Card image" style="width:258px; height:94px;">
      </b-link>
    </div>
    <div>
      <b-col cols="12" class="mt-4 custom-col">
        <b-link to="/AP-Statistic" style="text-decoration:none">
          <div class="custom-card mx-4">
            Статистика
          </div>
        </b-link>
      </b-col>
      <b-col cols="12" class="mt-4 custom-col">
        <b-link to="/AP-Products" style="text-decoration:none">
          <div class="custom-card mx-4">
          Товары
          </div>
        </b-link>
      </b-col>
      <b-col cols="12" class="mt-4 custom-col">
        <b-link to="/AP-Categories" style="text-decoration:none">
          <div class="custom-card mx-4">
            Категории
          </div>
        </b-link>
      </b-col>
      <b-col cols="12" class="mt-4 custom-col">
        <b-link to="/AP-Users" style="text-decoration:none">
          <div class="custom-card mx-4">
            Пользователи
          </div>
        </b-link>
      </b-col>
      <b-col cols="12" class="mt-4 custom-col">
        <b-link to="/" style="text-decoration:none">
          <div class="custom-card mx-4">
            Вернутся на главную
          </div>
        </b-link>
      </b-col>
    </div>

  </div>
</template>

<style lang="scss" scoped>
.custom-col {
  padding: 0;
  .custom-card {
    padding: 14px 20px 14px 26px;
    color: #05311a;
    background: #fff;
    border: 1px solid #eef0f1;
    border-radius: 10px;
    &:hover {
      background: #e2e2e2;
    }
  }
}
</style>

