<template>
  <div class="mt-5">
    <b-table
      id="my-table"
      :items="items"
      :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
    ></b-table>

    <div class="d-flex">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
        class="mx-auto"
      >
        <template v-slot:prev-text><span class="text-dark"><b-icon icon="arrow-left"></b-icon></span></template>
        <template v-slot:next-text><span class="text-dark"><b-icon icon="arrow-right"></b-icon></span></template>
        <template v-slot:first-text><span class="text-dark"><b-icon icon="arrow-bar-left"></b-icon></span></template>
        <template v-slot:last-text><span class="text-dark"><b-icon icon="arrow-bar-right"></b-icon></span></template>
      </b-pagination>
    </div>
  </div>
</template>



<script>
export default {
  data() {
      return {
        perPage: 15,
        currentPage: 1,
        fields: [
          {
            key: 'Имя',
            sortable: true,
            variant: 'secondary'

          },
          {
            key: 'Статус_клиента',
            sortable: true,
            variant: 'info'
          },
          {
            key: 'Страна',
            sortable: true
          },
          {
            key: 'Дата',
            sortable: true,
            variant: 'primary'
          },
          {
            key: 'Сколько_потрачено',
            sortable: true,
            // Variant applies to the whole column, including the header and footer
            variant: 'danger'
          },
          {
            key: 'Кол-во_заказов',
            sortable: true,
            // Variant applies to the whole column, including the header and footer
            variant: 'secondary'
          }
        ],
        items: [
          { isActive: true, Имя: 'Fred', Статус_клиента: 'Постоянный', Страна: 'Австралия', Дата: '01.04.20', Сколько_потрачено: '597 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Wilma', Статус_клиента: 'Постоянный', Страна: 'Австрийская Республика', Дата: '02.04.20', Сколько_потрачено: '78979 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Barney', Статус_клиента: 'Не постоянный', Страна: 'Республика Гаити', Дата: '03.04.20', Сколько_потрачено: '564745 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Betty', Статус_клиента: 'Не постоянный', Страна: '	Республика Гана', Дата: '07.04.20', Сколько_потрачено: '7894 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pebbles', Статус_клиента: 'Постоянный', Страна: 'Армения', Дата: '08.04.20', Сколько_потрачено: '35761 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Bamm Bamm', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '09.04.20', Сколько_потрачено: '982 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'The Great', Статус_клиента: 'Не постоянный', Страна: 'Джерси', Дата: '10.04.20', Сколько_потрачено: '1235 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Rockhead', Статус_клиента: 'Не постоянный', Страна: '	Исландия', Дата: '12.04.20', Сколько_потрачено: '9867 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pearl', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '13.04.20', Сколько_потрачено: '121212 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Fred', Статус_клиента: 'Постоянный', Страна: '	Кюрасао', Дата: '15.04.20', Сколько_потрачено: '785642 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Wilma', Статус_клиента: 'Постоянный', Страна: 'Грузия', Дата: '16.04.20', Сколько_потрачено: '2157 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Barney', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '15.04.20', Сколько_потрачено: '597 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Betty', Статус_клиента: 'Не постоянный', Страна: '	Кюрасао', Дата: '15.05.20', Сколько_потрачено: '7952 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pebbles', Статус_клиента: 'Постоянный', Страна: 'Исландия', Дата: '14.05.20', Сколько_потрачено: '1793 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Bamm Bamm', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '13.05.20', Сколько_потрачено: '1337 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'The Great', Статус_клиента: 'Не постоянный', Страна: '	Кюрасао', Дата: '12.05.20', Сколько_потрачено: '249867 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Rockhead', Статус_клиента: 'Не постоянный', Страна: 'Дания', Дата: '11.05.20', Сколько_потрачено: '34860 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pearl', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '10.05.20', Сколько_потрачено: '4000 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Fred', Статус_клиента: 'Постоянный', Страна: '	Кюрасао', Дата: '09.05.20', Сколько_потрачено: '7854500 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Wilma', Статус_клиента: 'Постоянный', Страна: 'Дания', Дата: '08.05.20', Сколько_потрачено: '44454 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Barney', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '07.05.20', Сколько_потрачено: '700 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Betty', Статус_клиента: 'Не постоянный', Страна: '	Кюрасао', Дата: '06.05.20', Сколько_потрачено: '800 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pebbles', Статус_клиента: 'Постоянный', Страна: 'Грузия', Дата: '05.05.20', Сколько_потрачено: '9999999 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Bamm Bamm', Статус_клиента: 'Не постоянный', Страна: 'Дания', Дата: '04.05.20', Сколько_потрачено: '75878 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'The Great', Статус_клиента: 'Не постоянный', Страна: 'Грузия', Дата: '03.05.20', Сколько_потрачено: '683 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Rockhead', Статус_клиента: 'Не постоянный', Страна: '	Кюрасао', Дата: '02.05.20', Сколько_потрачено: '4578 др', "Кол-во_заказов": '15' },
          { isActive: true, Имя: 'Pearl', Статус_клиента: 'Не постоянный', Страна: 'Дания', Дата: '01.05.20', Сколько_потрачено: '2796 др', "Кол-во_заказов": '15' }
        ]
      }
    },
    computed: {
      rows() {
        return this.items.length
      }
    }
}
</script>
