<template>
  <div>
    <b-col cols="12" class="px-5">
      <div class="d-flex" style="justify-content:space-around; flex-wrap:wrap;">
        <div style="width:23%;" v-for="item of categories" :key="item.index" class="my-2 custom-background">
          <b-link :to="item.link" style="text-decoration:none;" class="custom-text">
            <div class="padding">
              {{item.name}}
            </div>
          </b-link>
        </div>
      </div>
    </b-col>
  </div>
</template>


<script>
export default {
  data() {
    return {
      categories: []
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const res = await fetch("FoodProductsCategories.json");
      const val = await res.json();
      this.categories = val;
      console.log(val)
    }
  }
}
</script>

<style lang="scss" scoped>
.padding {
  padding: 5px 0 5px 25px;
}
.custom-background {
  background: #ecf2f4;
  &:hover {
    background: #056a35;
    .custom-text {

    color: #fff;
    }
  }
}
.custom-text {
color: #191919;
}
</style>
