<template>
  <div>
    <b-button v-b-modal.add-home-categories>Добавить категории</b-button>
    <div class="mt-3">
      <p>Названия категорий:</p>
      <ul class="mb-0">

        <draggable v-model="myArray" group="people" @start="drag=true" @end="drag=false">
          <li v-for="name in submittedNames" :key="name" class="d-flex" style="justify-content:space-between;">
            {{ name }}
            <button class="custom-hover-button">
              <b-icon icon="x"></b-icon>
            </button>
          </li>
          <li v-for="item of lists" :key="item.index" class="d-flex justify-content-between">
            <div>
              {{ item.name }}
            </div>
            <button class="custom-hover-button">
              <b-icon icon="x"></b-icon>
            </button>
          </li>
        </draggable>

      </ul>
    </div>
    <b-modal
      id="add-home-categories"
      ref="modal"
      title="Введите название категории хозяйственных товаров"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            placeholder="Название"
            v-model="name"
            :state="nameState"
            required
            class="mb-3"
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  components: {
    draggable
  },
  data() {
    return {
      name: '',
      nameState: null,
      submittedNames: [],
      lists: [],
      file: ''
    }
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const res = await fetch("homeSideBar.json");
      const val = await res.json();
      this.lists = val;
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid
      return valid
    },
    resetModal() {
      this.name = ''
      this.nameState = null
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      this.submittedNames.push(this.name)
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('add-home-categories')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-dropdown {
  padding: 2px;
  margin: 0;
  text-align: center;
  .icon {
    height: 30px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.icon {
  height: 25px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 5px;
}
li {
  list-style: none;
  margin-bottom: 0;
  border: 1px solid #eef0f1;
  margin-top: 5px;
  padding: 10px;
  &:hover {
    background-color: #e2e2e2;
    .custom-hover-button {
      display:block;
    }
  }
  button {
    border: 0;
    padding: 0;
    background: transparent;
    outline: none;
  }
  .custom-hover-button {
    display:none;
  }
}
ul {
  margin: 0;
  padding: 0;
}
</style>
