<template>
  <div>
    <b-col cols="12">
      <b-row class="mt-4 line">
        <div class="center">
          <b-link to="/help-center/user-guide"  class="custom-text text-decoration-none">Руководство пользователя</b-link>
        </div>
        <div class="center">
          <b-link to="/help-center/faq"  class="custom-text text-decoration-none">Часто задаваемые вопросы и ответы</b-link>
        </div>
        <div class="center">
          <b-link to="/help-center/deliv-payment" class="custom-text text-decoration-none">Доставка и оплата</b-link>
        </div>
        <div class="center">
          <b-link to="/help-center/abroad"  class="custom-text text-decoration-none">Покупки из-за рубежа</b-link>
        </div>
      </b-row>
    </b-col>
  </div>
</template>

<style lang="scss" scoped>
.line {
  border-bottom: 1px solid #ebebeb;
  margin: 0 40px;
}
.center {
  padding: 5px 8px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  border: 1px solid #ebebeb;
  border-bottom: none;
  margin: 0 20px ;
  width: calc(25% - 40px);
  cursor: pointer;
  &:hover {
    border: 1px solid black;
    border-bottom: none;
    .custom-text {
      color: #000;
    }
  }
}
.active-class {
  border: 1px solid black;
  border-bottom: none;
  .custom-text {
    color: #000;
  }
}
.custom-text {
  color: #056a35;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
</style>
