<template>
  <div>
    <div class="d-flex">
      <b-pagination
        v-model="currentPage"
        size="sm"
        :total-rows="rows"
        :per-page="perPage"
        @input="paginate(currentPage)"
        class="mx-auto bg-dark"
      >
        <template v-slot:prev-text><span class="text-dark">Предыдущая страница</span></template>
        <template v-slot:next-text><span class="text-dark">Следующая страница</span></template>
        <template v-slot:first-text><span class="text-dark"><b-icon icon="arrow-bar-left"></b-icon></span></template>
        <template v-slot:last-text><span class="text-dark"><b-icon icon="arrow-bar-right"></b-icon></span></template>
      </b-pagination>
    </div>
    <b-card-group>
        <stockCard
          class="col-3 p-0"
          v-for="product in displayCards"
          :key="product.id"
          :product_data="product"
          @addToCart="addToCart"
          @addToFavourite="addToFavourite"
        />
    </b-card-group>
    <div class="d-flex mt-3">
      <b-pagination
        v-model="currentPage"
        size="sm"
        :total-rows="rows"
        :per-page="perPage"
        @input="paginate(currentPage)"
        class="mx-auto bg-dark"
      >
        <template v-slot:prev-text><span class="text-dark">Предыдущая страница</span></template>
        <template v-slot:next-text><span class="text-dark">Следующая страница</span></template>
        <template v-slot:first-text><span class="text-dark"><b-icon icon="arrow-bar-left"></b-icon></span></template>
        <template v-slot:last-text><span class="text-dark"><b-icon icon="arrow-bar-right"></b-icon></span></template>
      </b-pagination>
    </div>
  </div>
</template>


<script>
import stockCard from '~/components/Stock/StockCard'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    stockCard
  },
  data() {
    return {
        perPage: 20,
        currentPage: 20,
        rows: 1,
        cards: [],
        displayCards: [],
        boxTwo: ''
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API();
    this.fetchData();
  },
  computed: {
      ...mapGetters([
          'PRODUCTS'
      ])
  },
  methods: {
    ...mapActions([
        'GET_PRODUCTS_FROM_API',
        'ADD_TO_CART',
        'ADD_TO_FAVOURITE'
    ]),
    addToCart(data) {
      this.ADD_TO_CART(data);
    },
    addToFavourite(data) {
      this.ADD_TO_FAVOURITE(data)
    },
    async fetchData() {
      const res = await fetch("cards.json");
      const val = await res.json();
      this.cards = val;
      this.rows = this.cards.length;
      this.displayCards = val.slice(0, 20);
    },
    paginate(currentPage) {
      const start = (currentPage - 1 ) * this.perPage;
      this.displayCards = this.cards.slice(start, start+20);
    }
  }
}
</script>
