<template>
    <div>
        <h2 class="text-center m-0 mt-5">Акция</h2>
        <div class="d-flex align-items-top justify-content-center mb-4">
            <div class="mt-5 m-2 advantage">
                <b-link to="#">
                    <img src="../../assets/png/be73d0b87b5ac69490e11062c3f78b7b.png" alt="Card image">
                </b-link>
                <b-card-text>
                    Найди подарок
                </b-card-text>
            </div>
            <div class="mt-5 m-2 advantage">
                <b-link to="#">
                    <img src="../../assets/png/3b3b250b9ed7d1468c494259f6179151.png" alt="Card image">
                </b-link>
                <b-card-text>
                    Текущие акции
                </b-card-text>
            </div>
        </div>
    </div>
</template>

