<template>
  <div>
    <div class="mt-5 advantage">
        <img src="../assets/svg/add_img1.svg" alt="Card image">
        <b-card-text>
          Бесплатная доставка
      </b-card-text>
    </div>
    <div class="mt-5 advantage">
      <img src="../assets/svg/add_img2.svg" alt="Card image">
      <b-card-text>
        Выгодная цена и акции
      </b-card-text>
    </div>
  </div>
</template>

<style scoped>
.advantage {
    text-align: center;
    font-style: "Roboto";
    font-weight: bold;
}
img {
    width: 200px;
}
</style>
