<template>
    <div>
        <div> 
            <b-col class="p-2 m-0 d-flex border justify-content-between">
                <b-col class="p-0 m-0" cols="5">
                    <b-link to="#">
                        <h6 class="text-dark m-0"><small>{{cart_item_data.title}}</small></h6>
                    </b-link> 
                </b-col>
                <b-col class="p-0 m-0" cols="3">
                    <h6 class="m-0">{{cart_item_data.price}}</h6>
                    <h6 class="m-0 mt-2"><small>кол.: </small>{{cart_item_data.counter}}</h6>
                </b-col>
                <b-col class="p-0 m-0" cols="1">
                    <button
                        @click="daleteFromCart"
                        class="btnStyle border-0"
                    >
                        <b-icon icon="x"></b-icon>
                    </button>
                </b-col>
            </b-col>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cart_item_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    methods: {
        daleteFromCart() {
            this.$emit('daleteFromCart')
        }
    }
}
</script>

<style lang="scss" scoped>
    .btnStyle {
        background: none;
    }
</style>
