<template>
  <b-link to="/categories/favorite/" class="light_btn noted mb-3" style="text-decoration:none;">
    <div class="favorite">
      <b-icon  class="text-danger" icon="heart"></b-icon>
      <strong>Избранные</strong>
      <b id="ckeckedCount"  class="text-danger">{{FAVOURITE.length}}</b>
    </div>
  </b-link>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  computed: {
    ...mapGetters ([
      'FAVOURITE'
    ])
  }
}
</script>

<style lang="scss" scoped>
.favorite {
  font-size: 13px;
  color: #919191;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 1px 10px;
  transition: .4s;
  &:hover {
    border:1px solid #056a35;
    color: #056a35;
  }
}
</style>
