<template>
    <div>
        <div class="p-0 w-100 d-inline-block h-auto">
            <b-card class="text-center rounded-0 pb-10 stockCard">
                <b-link to="/about/aboutProduct">
                    <img :src="favourite_item_data.images" alt="Card image" class="w-100 mb-2">
                </b-link>
                 <button
                    @click="daleteFromFavourite"
                    class="btnStyle border-0"
                  >
                    <b-icon scale="2" icon="x"></b-icon>
                  </button>

                <div class="heart"></div>
                <b-card-text class="text-center font-weight-bold px-2 my-0 mb-4 titleCard">
                    {{favourite_item_data.title}}
                </b-card-text>
                <b-card-text>
                    <div class="saleCard"><del>{{favourite_item_data.sale}}</del></div>
                    <h6 class="text-danger font-weight-bold">{{favourite_item_data.price}}</h6>
                </b-card-text>
                <div class="mb-4 text-center">
                    <b-col cols="11" class="mx-auto">
                        <div class="d-flex align-items-top justify-content-center mb-3">
                            <div>
                                <b-form-spinbutton id="sb-inline" max="6" :value="favourite_item_data.counter" inline></b-form-spinbutton>
                            </div>
                        </div>
                        <button class="btn btn-success rounded-0 m-0 py-1 w-100" @click="addToCart">В корзину</button>
                    </b-col>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    props: {
        favourite_item_data: {
            type: Object,
            default() {
                return {}
            }
        },
        product_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    methods: {
      addToCart() {
        this.$emit('addToCart', this.favourite_item_data)
      },
      daleteFromFavourite() {
          this.$emit('daleteFromFavourite')
      }
    },
    mounted() {
      this.$set(this.favourite_item_data, 'counter', 1)
    }
}
</script>

<style lang="scss" scoped>
.btnStyle {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  z-index: 100;
  display: none;
  outline: none;
}
    b-card-text {
        font-size: 1.6rem;
    }
    .countButton {
        outline: none;
        &:hover {
            background: #f5db00;
        }
    }
    .counter {
        position: absolute;
        left: 50%;
		transform: translateX(-50%);
    }
    .titleCard {
        min-height: 53px;
    }
    .saleCard {
        min-height: 25px;
    }
    .stockCard {
        transition: 1s;
        &:hover {
            border: 1px solid #056a35;
            box-shadow: 0 7px 17px 0 rgba(0, 35, 32, 0.3);
            z-index: 10;
            transition: 1s;
            .btnStyle {
              display: block;
            }
        }
        img {
            transition: 1s;
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }

    .heart {
      position: absolute;
      z-index: 1000;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 26px;
      transition: .3s;
      opacity: 0.4;
      background: transparent url('../assets/png/heart.png') no-repeat 50% 50%/cover;
      &:hover {
        cursor: pointer;
        opacity: 1;
        background: transparent url('../assets/png/heart.png') no-repeat 50% 50%/cover;
      }
    }
</style>
