<template>
	<div>
		<div class="d-flex mx-5 my-5">
			<b-col cols="3" class="card footCard px-4 py-4 mx-1 rounded-0">
				<b-link to="/help-center/deliv-payment" class="d-flex bold-text a-i-c text-decoration-none">
					<img src="../assets/png/footer_icon1.png" style="height:44px;">
					<div class="ml-5 text-dark">Доставка и оплата</div>
				</b-link>
			</b-col>
			<b-col cols="3" class="card footCard px-4 py-4 mx-1 rounded-0">
				<b-link to="/help-center/abroad" class="d-flex bold-text a-i-c text-decoration-none">
					<img src="../assets/png/footer_icon2.png" style="height:44px;">
					<div class="ml-5 text-dark">Доставка из-за рубежа</div>
				</b-link>
			</b-col>
			<b-col cols="3" class="card footCard px-4 py-4 mx-1 rounded-0">
				<b-link to="/news" class="d-flex bold-text a-i-c text-decoration-none">
					<img src="../assets/png/footer_icon3.png" style="height:44px;">
					<div class="ml-5 text-dark">Новости</div>
				</b-link>
			</b-col>
			<b-col cols="3" class="card footCard px-4 py-4 mx-1 rounded-0">
				<b-link to="/form" class="d-flex bold-text a-i-c text-decoration-none">
					<img src="../assets/png/footer_icon4.png" style="height:44px;">
					<div class="ml-5 text-dark">Предложения и жалобы</div>
				</b-link>
			</b-col>
		</div>



      <div class="fixed" style="top:calc(70% + 60px)">
        <div class="card footCard fixed-card rounded-0">
          <b-link to="/help-center/deliv-payment" class="d-flex bold-text text-decoration-none">
            <img src="../assets/png/footer_icon1.png" class="image">
            <span class="ml-4 text-dark">Доставка и оплата</span>
          </b-link>
        </div>
      </div>
      <div class="fixed" style="top:calc(70% + 120px)">
        <div class="card footCard fixed-card rounded-0">
          <b-link to="/help-center/abroad" class="d-flex bold-text text-decoration-none">
            <img src="../assets/png/footer_icon2.png" class="image">
            <span class="ml-4 text-dark">Доставка из-за рубежа</span>
          </b-link>
        </div>
      </div>
      <div class="fixed" style="top:calc(70% + 180px)">
        <div class="card footCard fixed-card rounded-0">
          <b-link to="/news" class="d-flex bold-text text-decoration-none mt-2">
            <img src="../assets/png/footer_icon3.png" class="image">
            <span class="ml-4 text-dark">Новости</span>
          </b-link>
        </div>
      </div>
      <div class="fixed" style="top:calc(70% + 240px)">
        <div class="card footCard fixed-card rounded-0">
          <b-link to="/form" class="d-flex bold-text text-decoration-none">
            <img src="../assets/png/footer_icon4.png" class="image">
            <span class="ml-4 text-dark">Предложения и жалобы</span>
          </b-link>
        </div>
		</div>





		<div class="bg-light d-flex center">
			<b-col cols="4" class="my-5 text-center">
				<div><b-link to="/about/about-us" class="hover text-decoration-none" href="#">Online Supermarket</b-link></div>
				<div><b-link to="/about/contacts" class="hover text-decoration-none" href="#">Контакты</b-link></div>
				<div><b-link to="/help-center/deliv-payment" class="hover text-decoration-none" href="#">Доставка и оплата</b-link></div>
			</b-col>
			<b-col cols="4" class="my-5 text-center">
				<div><b-link to="/about/vacancy" class="hover text-decoration-none" href="#">Вакансии</b-link></div>
				<div><b-link to="/help-center/user-guide" class="hover text-decoration-none" href="#">Руководство пользователя</b-link></div>
				<div><b-link to="/help-center/abroad" class="hover text-decoration-none" href="#">Покупки из-за рубежа</b-link></div>
			</b-col>
			<b-col cols="4" class="my-5 text-center">
				<div><b-link to="/about/feedback" class="hover text-decoration-none" href="#">Отзывы покупателей</b-link></div>
				<div><b-link to="/help-center/faq" class="hover text-decoration-none" href="#">Часто задаваемые вопросы и ответы</b-link></div>
			</b-col>
		</div>
		<div class="py-1 text-center" style="background: rgb(42, 44, 47);">
			<p class="text-light">© Online Supermarket, 2020. Все права защищены</p>
		</div>
	</div>
</template>

<style lang="scss">
.fixed {
  position: fixed;
  height: 100%;
  right: 0;
  transform: translateY(-30%);
  width: 50px;
  transition: 1s;
  &:hover {
    width: 200px;
  }
}
.fixed-card {
  padding: 10px;
  width: 200px;
  height: 60px;
  transition: 1s;
  font-size: 14px;
  .bold-text {
    align-items: center;
  }
  .image {
    width: 35px;
    height: 25px;
  }
  &:hover {
    width: 200px;
  }

}

.bold-text {
	font-weight:bold;
}
.a-i-c {
	align-items:center;
}
.hover {
	color: #000;
	&:hover{
		color: #056a35;
	}
}
.footCard {
cursor: pointer;
	transition: 1.5s;
	img {
		transition: 1s;
	}
	&:hover {
		border: 1px solid #056a35;
		transition: 1s;
	list-style: none;
	}
	&:hover img {
		transform: scale(1.2);
		transition: 1s;
	}
}
</style>
