<template>
    <div>
        <b-col cols="12" class="p-0">
            <b-col cols="8" class="d-flex py-2">
                <h1 class="text-success"><small>Для вопросов и предложений</small></h1>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100">Имя</h5></b-col>
                <b-col cols="5" class="p-0"><input type="text" class="w-100"></b-col>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100">Email</h5></b-col>
                <b-col cols="5" class="p-0"><input type="text" class="w-100"></b-col>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100"><small>Телефон</small></h5></b-col>
                <b-col cols="5" class="p-0"><input type="text" class="w-100"></b-col>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100"><small>Тема</small></h5></b-col>
                <b-col cols="5" class="p-0"><input type="text" class="w-100"></b-col>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100">Сообщение</h5></b-col>
                <b-col cols="6" class="p-0"><textarea class="w-100 h-100"></textarea></b-col>
            </b-col>
            <b-col cols="8" class="d-flex py-1">
                <b-col cols="3" class="p-0"><h5 class="h-100">Код с картинки</h5></b-col>
                <b-col cols="3" class="p-0">
                    <img src="https://supermarket.am/bitrix/tools/captcha.php?captcha_sid=cbebb0e84551977a50daf6f563538b90" alt="">
                </b-col>
                <b-col cols="2" class="p-0"><input type="text" class="w-100 h-100"></b-col>
            </b-col>
        </b-col>
    </div>
</template>
