<template>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <div class="d-flex">
                <b-button class="text-dark bg-white border-0" type="submit"><b-icon icon="search"></b-icon></b-button>
                <input size="sm" class="custom-input" placeholder="Найдем и доставим любые продукты">
            </div>
        </div>
        <div class="mb-4 rounded-0 logo">
            <b-link to="/">
                <img src="../assets/svg/logo.svg" alt="Card image" style="width:228px; height:94px;">
            </b-link>
        </div>
        <div class="phone">
            <div class="phoneText">
                Звоните нам
            </div>
            <div class="text-danger phoneNumber">
                011 555.555
            </div>
        </div>
        <div class="mb-4 rounded-0 cartBlock">
            <b-link to="/personal/cart">
                <span class="yellow">
                    <span>{{CART.length}}</span>
                </span>
                <svg viewBox="0 0 22.54 19.67" class="cart">
                    <path fill-rule="evenodd" fill="currentColor" d="M15.59,14.77a2.87,2.87,0,0,1,4.06,0,2.87,2.87,0,0,1-2,4.9,2.87,2.87,0,0,1-2-4.9Zm1.16,2.9a1.23,1.23,0,0,0,1.72,0l0,0a1.23,1.23,0,0,0-.87-2.1,1.23,1.23,0,0,0-.85.34l0,0a1.23,1.23,0,0,0,0,1.74ZM22.51,3.83l-3.27,8.59a.42.42,0,0,1-.39.28H8.19a.39.39,0,0,1-.37-.25L3.41,1.64h-3A.41.41,0,0,1,0,1.23V.41A.41.41,0,0,1,.41,0H4.1a.39.39,0,0,1,.36.23L6,3.28H22.13l.14,0a.4.4,0,0,1,.24.52Zm-4.36,7.23,2.17-6.14h-14l2.53,6.14ZM8.63,14.77a2.87,2.87,0,1,1,0,4.08l0,0a2.85,2.85,0,0,1,0-4.06Zm1.16,2.9a1.22,1.22,0,0,0,1.71,0l0,0a1.23,1.23,0,0,0,0-1.74h0a1.22,1.22,0,0,0-1.73,0,1.2,1.2,0,0,0-.37.87A1.22,1.22,0,0,0,9.79,17.67Z"></path>
                </svg>
            </b-link>
        </div>
    </div>
</template>

<script>

import {mapGetters} from 'vuex'
export default {
  computed: {
    ...mapGetters ([
      'CART'
    ])
  }
}
</script>

<style scoped lang="scss">
    .custom-input {
      border: none;
      border-radius:0;
      border-bottom: 1px solid #056a35;
      outline:none;
      width: 394px;
      &:hover {
        border-bottom: 2px solid #056a35;
      }
    }
    .form-inline {
        width: 100%;
    }
    .logo {
        margin: -22px 0 0 -96px;
        z-index: 10;
        width: 20%;
    }
    .phone {
        margin-left: -170px;
    }
    .phoneText {
        background-color: #f5db00;
        transform: skew(-20deg);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
    }
    .phoneNumber {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 23px;
    }
    .cartBlock {
        width: 3%;
        position: relative;
        margin-right: 15px;
    }
    .cart {
        color: #056a35;
    }
    .yellow {
        position: absolute;
        right: -10px;
        top: -10px;
        border-radius: 50%;
        background: #f5db00;
        color: #056a35;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        z-index: 10;
        padding-top: 3px;
        &:hover {
          background: #056a35;
          color: #f5db00;
        }
        span {
            font-size: 12px;
        }
    }
</style>
