<template>
  <div>
    <b-navbar toggleable="lg" type="dark" style="background: #2a2c2f;" class="p-0">
      <div class="ml-auto">
        <b-navbar-toggle right target="nav-collapse"></b-navbar-toggle>
      </div>
      <b-collapse id="nav-collapse" is-nav class="mx-5">
        <b-navbar-nav>
          <b-nav-item-dropdown text="Валюта: AMD" class="mr-2">
            <b-dropdown-item href="#">RUB</b-dropdown-item>
            <b-dropdown-item href="#">USD</b-dropdown-item>
            <b-dropdown-item href="#">EUR</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="Русская версия">
            <b-dropdown-item href="#">Русская версия</b-dropdown-item>
            <b-dropdown-item href="#">Հայերեն տարբերակ</b-dropdown-item>
            <b-dropdown-item href="#">English version</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

        <b-navbar-nav  class="ml-auto pl-5 pr-2">
          <b-link to="/AP-Statistic" class="text-light py-2" style="text-decoration:none;">Администратор</b-link>
          <b-nav-item-dropdown  text="Вход и регистрация" class="px-5" right>
            <b-form class="px-1 text-center mx-3">
              <div class="py-1">Ваш Email</div>
              <b-input type="email"></b-input>
              <div class="py-1">Пароль</div>
              <b-input type="password"></b-input>
              <button class="my-3 custom-button" variant="secondary">Войти</button>
              <div class="pb-2">
                <b-link to="/auth/forgot-password" class="custom-text mr-2">Забыли пароль ?</b-link>
                <b-link to="/auth/register" class="custom-text">Регистрация</b-link>
              </div>
            </b-form>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<style lang="scss" scoped>
.custom-button {
  color: #fff;
  margin-bottom: 10px;
  width: 164px;
  background-color: #056a35;
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 30px;
  -moz-user-select: none;
  user-select: none;
  box-sizing: content-box;
  transition: all .3s;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  line-height: 27px;
}
.custom-text {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #056a35;
  }
}
</style>
