<template>
    <div>
        <b-col cols="12" class="d-flex">
          <div class="block">
              <b-link class="text-decoration-none" to="/">
                <div class="card m-0">
                  Продукты
                </div>
              </b-link>
          </div>
          <div class="block">
              <b-link class="text-decoration-none" to="/home">
                <div class="card m-0">
                  Хозяйственные товары
                </div>
              </b-link>
          </div>
          <div class="block">
              <b-link class="text-decoration-none" to="/stocks">
                <div class="card m-0">
                  Акция
                </div>
              </b-link>
          </div>
        </b-col>
    </div>
</template>

<style lang="scss" scoped>
  b-link {
    text-decoration: none;
    list-style: none;
  }
  .block {
    width: 33%;
  }
  .card {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto";
    padding: 12px 0;
    border-radius: 0;
    border: none;
    background: #ecf2f4;
    color: #000;
    &:hover {
      background: #056a35;
      color: #fff;
    }
  }
</style>
