<template>
  <div>
      <div class="border-0 p-0">
        <div class="title px-3 py-2">{{cart_item_data.title}}</div>
        <b-row class="pl-4 pb-3 mt-3" style="align-items:center;">
          <b-col cols="8" class="d-flex">
            <div class="image">
              <img :src="cart_item_data.images" style="
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: 50% 50%;"
              >
            </div>
            <div class="heart mt-2"></div>
            <b-link class="name hover-link px-5 my-auto">
              {{cart_item_data.title}}
            </b-link>
          </b-col>
          <b-col cols="4" class="d-flex" style="padding-right:50px; align-items: center; justify-content: space-between;">
            <div class="name">{{cart_item_data.price}}</div>
            <div >
              <div>
                <b-form-spinbutton id="sb-inline" :value="1" inline></b-form-spinbutton>
              </div>
            </div>
            <div class="name">6 000 др</div>
            <b-icon class="custom-icon" icon="x-circle" @click="daleteFromCart"></b-icon>
          </b-col>
        </b-row>
        <hr>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        cart_item_data: {
            type: Object,
            default() {
                return {}
            }
        }
    },
    methods: {
        daleteFromCart() {
            this.$emit('daleteFromCart')
        }
    }
}
</script>

<style lang="scss" scoped>
.custom-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  z-index: 100;
  cursor: pointer;
  color: #7F7F7F;
  &:hover {
    color: #CD2004;
  }
}
hr {
  margin: 0;
}
.title {
  background: #f9f9f9;
}
.name {
  font-family: "Roboto";
  font-size: 19px;
  color: #040404;
  text-decoration: none;
  font-weight: bold;
}
.hover-link {
  &:hover {
    color: #056a35;
  }
}
.heart {
  z-index: 1000;
  width: 25px;
  height: 18px;
  padding: 11px;
  transition: .3s;
  opacity: 0.4;
  background: transparent url('../assets/png/heart.png') no-repeat 50% 50%/cover;
  &:hover {
    cursor: pointer;
    opacity: 1;
    background: transparent url('../assets/png/heart.png') no-repeat 50% 50%/cover;
  }
}
</style>

