<template>
  <div>
    <div>
      <div class="wrapper sticky mt-3 ">
        <div>
          <div class="custom-text d-flex">
            <div class="icon mr-2">
              <svg viewBox="0 0 22.54 19.67" class="cart" data-v-1a9bb128=""><path fill-rule="evenodd" fill="currentColor" d="M15.59,14.77a2.87,2.87,0,0,1,4.06,0,2.87,2.87,0,0,1-2,4.9,2.87,2.87,0,0,1-2-4.9Zm1.16,2.9a1.23,1.23,0,0,0,1.72,0l0,0a1.23,1.23,0,0,0-.87-2.1,1.23,1.23,0,0,0-.85.34l0,0a1.23,1.23,0,0,0,0,1.74ZM22.51,3.83l-3.27,8.59a.42.42,0,0,1-.39.28H8.19a.39.39,0,0,1-.37-.25L3.41,1.64h-3A.41.41,0,0,1,0,1.23V.41A.41.41,0,0,1,.41,0H4.1a.39.39,0,0,1,.36.23L6,3.28H22.13l.14,0a.4.4,0,0,1,.24.52Zm-4.36,7.23,2.17-6.14h-14l2.53,6.14ZM8.63,14.77a2.87,2.87,0,1,1,0,4.08l0,0a2.85,2.85,0,0,1,0-4.06Zm1.16,2.9a1.22,1.22,0,0,0,1.71,0l0,0a1.23,1.23,0,0,0,0-1.74h0a1.22,1.22,0,0,0-1.73,0,1.2,1.2,0,0,0-.37.87A1.22,1.22,0,0,0,9.79,17.67Z" data-v-1a9bb128=""></path></svg>
            </div>
            <div class="t-t-u">Ваша корзина</div>
          </div>
          <div v-if="CART.length">
            <cartItem
              v-for="(cartItem, index) of CART"
              :key="cartItem.id"
              :cart_item_data="cartItem"
              @daleteFromCart="daleteFromCart(index)"
            />
            <div class="border p-2">
                <b-col class="d-flex justify-content-between align-items-center p-0">
                <b-col cols="7" class="p-0">
                    <h6 class="text-secondary h-100"><small>Сумма:</small></h6>
                </b-col>
                <b-col cols="5" class="p-0">
                    <h5 class="text-success h-100">5 190 др</h5>
                </b-col>
                </b-col>
                <b-col class="pt-4 pb-1 px-0 d-flex justify-content-between align-items-center">
                <b-link to="/personal/cart" class="w-100 buttonHover py-2 mr-1 text-center" style="text-decoration: none">
                    <h5 class="text-success p-0 m-0"><small>Вся корзина</small></h5>
                </b-link>
                <b-link to="#" class="w-100 buttonColor ml-1 py-2 text-center" style="text-decoration: none">
                    <h5 class="text-white p-0 m-0"><small>Заказать</small></h5>
                </b-link>
                </b-col>
            </div>
          </div>
          <b-card class="t-a-c" v-else>Ваша корзина пуста</b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import cartItem from '~/components/cartItem'

export default {
  components: {
    cartItem
  },
  computed: {
    ...mapGetters ([
      'CART'
    ])
  },
  methods: {
    ...mapActions ([
      'DELETE_FROM_CART'
    ]),
    daleteFromCart(index) {
      this.DELETE_FROM_CART(index)
    }
  }
}
</script>

<style lang="scss" scoped>
.t-a-c {
  text-align: center;
  font-size: 15px;
  color: #191919;
  font-weight: bold;
  font-family: "Roboto";
  border-top: none;
}
.t-t-u {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 40px;
  font-size: 15px;
  margin-top: 4px;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
  top: 20px;
}
.custom-text {
  align-items: center;
  background: #e0e7e9;
  padding: 5px 15px;
}
.icon {
  width: 30px;
  height: 24px;
}
.buttonHover {
  background: white;
  border: 1px solid #28a745;
  &:hover {
    background: #28a745;
    small {
      text-decoration: none;
      color: white;
    }
  }
}
.buttonColor {
  background: #28a745;
  border: 1px solid #28a745;
  &:hover {
    background: #3d8247;
  }
}
</style>
