<template>
<div>
  <b-col cols="12" class="mt-4 d-flex">
    <b-col cols="9">
      <div class="d-flex" style="align-items:center; justify-content:space-between;">
        <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
        <favourite />
      </div>
      <b-card-group>
        <favouriteItem
          class="col-3 p-0"
          v-for="(favouriteItem, index) of FAVOURITE"
          :key="favouriteItem.id"
          :favourite_item_data="favouriteItem"
          @daleteFromFavourite="daleteFromFavourite(index)"
          @addToCart="addToCart"
        />
      </b-card-group>
    </b-col>
    <b-col cols="3">
      <trash />
    </b-col>
  </b-col>

</div>
</template>

<script>
import trash from '~/components/trash'
import favourite from '~/components/favourite'

import {mapGetters, mapActions} from 'vuex'
import favouriteItem from '~/components/favouriteItem'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Избранное',
          active: true
        }
      ]
    }
  },
  components: {
    trash,
    favourite,

    favouriteItem
  },


  computed: {
    ...mapGetters ([
      'FAVOURITE'
    ])
  },
  methods: {
    ...mapActions([
        'GET_PRODUCTS_FROM_API',
        'ADD_TO_CART',
        'ADD_TO_FAVOURITE',

        'DELETE_FROM_FAVOURITE'
    ]),
    addToCart(data) {
      this.ADD_TO_CART(data)
    },
    daleteFromFavourite(index) {
      this.DELETE_FROM_FAVOURITE(index)
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  font-family: Arial;
  font-size: 30px;
}
h2 {
  color: #056a35;
  font-family: Arial;
  font-size: 21px;
}
p {
  font-family: "Roboto";
  font-size: 14px;
}
</style>
