<template>
<div>
  <b-col cols="12" class="mt-4" style="margin: 0 40px 180px 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
  </b-col>
</div>
</template>

<script>
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: '',
          active: true
        }
      ]
    }
  },
  components: {
    favourite
  }
}
</script>

<style lang="scss" scoped>
h1 {
  font-family: Arial;
  font-size: 30px;
}
h2 {
  color: #056a35;
  font-family: Arial;
  font-size: 21px;
}
p {
  font-family: "Roboto";
  font-size: 14px;
}
</style>
