<template>
  <div>
    <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
      <div class="d-flex" style="align-items:center; justify-content:space-between;">
        <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
        <favourite />
      </div>
    </b-col>

    <b-col cols="12" style="text-align:center;" class="mb-5 px-5">
      Если Вы забыли пароль, введите Ваш адрес электронной почты и
      нажмите на кнопку “Восстановить”. После этого вы получите письмо
      с информацией об активации. В письме будет содержаться ссылка, по которой нужно будет
      перейти для продолжения процедуры восстановления пароля.
    </b-col>
    <div class="mx-5 px-5">
      <b-container b-container fluid class="mt-5 px-5">
        <b-row class="my-1">
          <b-col cols="3">
            <label>Email</label>
          </b-col>
          <b-col cols="9">
            <b-form-input type="email"></b-form-input>
          </b-col>
        </b-row>
        <div class="pb-5">
          <button class="button-text  mr-1 mt-4">Восстановить</button>
        </div>
      </b-container>
    </div>
  </div>
</template>

<script>
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Восстановление пароля',
          active: true
        }
      ]
    }
  },
  components: {
    favourite
  }
}
</script>

<style lang="scss" scoped>
  button {
    border: 1px solid #056a35;
    border-radius: 5px;
    padding: 6px 30px;
    background: #056a35;
  }
  .button-text {
    text-transform:uppercase;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color:#fff;
  }
</style>
