<template>
  <div>
    <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
      <div class="d-flex" style="align-items:center; justify-content:space-between;">
        <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
        <favourite />
      </div>
    </b-col>


    <div class="mx-5 px-5">
      <b-container b-container fluid class="mt-5 px-5">
        <b-row class="my-4">
          <b-col cols="3">
            <label>Ваше Имя:</label>
          </b-col>
          <b-col cols="9">
            <b-form-input type="text"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <label>Email</label>
          </b-col>
          <b-col cols="9">
            <b-form-input  type="email"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <label>Номер телефона:</label>
          </b-col>
          <b-col cols="9">
            <b-form-input  type="tel"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <label>Пароль</label>
          </b-col>
          <b-col cols="9">
            <b-form-input  type="password"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <label>Повторите пароль</label>
          </b-col>
          <b-col cols="9">
            <b-form-input  type="password"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <div>Страна</div>
            <div class="text-danger">Где вы проживаете?</div>
          </b-col>
          <b-col cols="9">
            <b-dropdown class="mx-1 bg-white" right text="Выберете страну">
              <b-dropdown-item>Страна 1</b-dropdown-item>
              <b-dropdown-item>Страна 2</b-dropdown-item>
              <b-dropdown-item>Страна 3</b-dropdown-item>
              <b-dropdown-item>Страна 4</b-dropdown-item>
              <b-dropdown-item>Страна 5</b-dropdown-item>
              <b-dropdown-item>Страна 6</b-dropdown-item>
            </b-dropdown>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <label>Когда вы родились?</label>
          </b-col>
          <b-col cols="9">
            <b-form-input type="date"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-4">
          <b-col cols="3">
            <div>Как вы узнали о нас?</div>
          </b-col>
          <b-col cols="9">
            <b-dropdown class="mx-1 bg-white" right text="----------------">
              <b-dropdown-item>Пункт 1</b-dropdown-item>
              <b-dropdown-item>Пункт 2</b-dropdown-item>
              <b-dropdown-item>Пункт 3</b-dropdown-item>
              <b-dropdown-item>Пункт 4</b-dropdown-item>
              <b-dropdown-item>Пункт 5</b-dropdown-item>
              <b-dropdown-item>Пункт 6</b-dropdown-item>
            </b-dropdown>
          </b-col>
        </b-row>
        <b-container style="text-align:center">
          <b-form-checkbox
            id="checkbox-1"
            v-model="status"
            name="checkbox-1"
            value=""
            unchecked-value="Подвертите что вы согласны"
          >
            Я согласен с <b-link>  условиями пользования </b-link>
          </b-form-checkbox>

          <div><strong>{{ status }}</strong></div>
        </b-container>
        <b-container class="center" style="text-align:center;">
          <div>
            <button class="button-text hover mt-4">Зарегистрироваться</button>
          </div>
          <b-link to="/auth/sign-in">
            <button class="button-text text-green mt-4">Я уже зарегистрирован</button>
          </b-link>
        </b-container>
      </b-container>
      </div>
    </div>

</template>
<script>
import favourite from '~/components/favourite'

  export default {
    data() {
      return {
        status: 'Подвертите что вы согласны',
        items: [
          {
            text: 'Главная',
            to: '/'
          },
          {
            text: 'Регистрация',
            active: true
          }
        ]
      }
    },
    components: {
      favourite
    }
  }
</script>

<style lang="scss" scoped>
  button {
    border: 1px solid #056a35;
    border-radius: 5px;
    padding: 6px 30px;
    &:hover {
      background: #056a35;
    }
  }
  .text-green {
    color:#056a35;
  }
  .hover {
    background: #056a35;
    color:#fff;
  }
  .button-text {
    text-transform:uppercase;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    &:hover {
      color:#fff;
    }
  }
</style>

