<template>
  <div>
    <div class="sidebar">
      <ul v-for="item of lists" :key="item.index">
        <li class="item-menu">
          <span>
            <img :src="item.img" alt="" class="images">
          </span>
          <a href="#">{{item.name}}</a>
          <div class="hover">
            <div class="sub-menu d-flex">
              <div>
                <ul>
                  <li>
                    <a href="#">{{item.product}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.a}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.b}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.c}}</a>
                  </li>
                </ul>
              </div>
              <div>
                <ul>
                  <li>
                    <a href="#">{{item.d}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.e}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.f}}</a>
                  </li>
                  <li>
                    <a href="#">{{item.g}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <li class="item-menu" style="border: 1px solid #eef0f1;">
      <b-icon icon="chevron-double-right"></b-icon>
      <a href="/h-c-categories">Все разделы</a>
    </li>
  </div>
</template>


<script>
   export default {
    data() {
      return {
        lists: []
      }
    },
    mounted() {
      this.fetchData();
    },
    methods: {
      async fetchData() {
        const res = await fetch("homeSideBar.json");
        const val = await res.json();
        this.lists = val;
      }
    }
  }
</script>

<style lang="scss" scoped>
li {
  list-style: none;
  margin-bottom: 0;
  border: 1px solid #eef0f1;
  border-bottom: none;
  padding: 10px;
  &:hover {
    background-color: #e2e2e2;
  }
}
.images {
  height: 25px;
  object-fit: cover;
  object-position: 50% 50%;
}
a {
  text-decoration: none;
  color: #05311a;
  padding: 4px 10px 4px 16px;
  font: 14px "Roboto";
}
ul {
  margin: 0;
  padding: 0;
}
.item-menu {
  &:hover {
    .hover {
      display: block;
      display: flex;
    }
  }
}
.hover {
  display: none;
  position: relative;
}
.sub-menu {
  position: absolute;
  left: 270px;
  top: -35px;
  background-color: #fff;
  z-index: 200;
  padding: 21px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  a {
    padding: 10px 20px;
    font-size: 16px;
  }
  li {
    width: 390px;
    list-style: none;
    margin-bottom: 0;
    border: 1px solid #eef0f1;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
    &:hover {
      background-color: #056a35;
      a {
        color: #fff;
      }
      cursor: pointer;
    }
  }
}
</style>
