<template>
  <div>
    <div class="my-2">
      <LineChart :chart-data="datacollection"></LineChart>
    </div>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [10, 20, 30, 40],
          datasets: [
            {
              label: 'Посещения',
              borderColor: '#258042',
              backgroundColor: 'rgba(37, 128, 66, 0.1)',
              data: [10, 15, 10, 30, 25, 10, 30, 25, 35]
            }
          ]
        }
      }
    }
  }
</script>