<template>
  <div>
    <div class="my-2">
      <LineChart :chart-data="datacollection"></LineChart>
    </div>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [10, 20, 30, 40],
          datasets: [
            {
              label: 'постоянные клиенты',
              borderColor: '#cd2004',
              backgroundColor: 'rgba(205, 32, 4, 0.1)',
              data: [25, 20, 30, 45, 40, 35, 25, 30, 40]
            }
          ]
        }
      }
    }
  }
</script>