<template>
  <div>
    <div class="my-2">
      <LineChart :chart-data="datacollection"></LineChart>
    </div>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [10, 20, 30, 40],
          datasets: [
            {
              label: 'Продажи',
              borderColor: '#f5db00',
              backgroundColor: 'rgba(245, 219, 0, 0.1)',
              data: [10, 20, 30, 45, 40, 30, 20, 40, 15]
            }
          ]
        }
      }
    }
  }
</script>