<template>
  <div>
    <div class="w-100 my-2 mx-auto">
      <LineChart :chart-data="datacollection"></LineChart>
    </div>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [10, 20, 30, 45, 50, 60, 70, 80, 90],
          datasets: [
            {
              label: 'Посещения',
              borderColor: '#258042',
              backgroundColor: 'rgba(37, 128, 66, 0.1)',
              data: [10, 15, 10, 30, 25, 10, 30, 25, 35]
            },
            {
              label: 'Продажи',
              borderColor: '#f5db00',
              backgroundColor: 'rgba(245, 219, 0, 0.1)',
              data: [10, 20, 30, 45, 40, 30, 20, 40, 15]
            },
            {
              label: 'постоянные клиенты',
              borderColor: '#cd2004',
              backgroundColor: 'rgba(205, 32, 4, 0.1)',
              data: [25, 20, 30, 45, 40, 35, 25, 30, 40]
            }
          ]
        }
      }
    }
  }
</script>
