<template>
  <div>
    <div class="d-flex">
      <b-col cols="3" class="p-0">
        <Sidebar />
      </b-col>
      <b-col cols="9" class="p-0">
        <Navbar/>
        <nuxt/>
      </b-col>
    </div>
  </div>
</template>

<script>
import Sidebar from '~/components/Admin-panel/Sidebar'
import Navbar from '~/components/Admin-panel/Navbar'
export default {
  components: {
    Sidebar,
    Navbar
  }
}
</script>
