<template>
  <div>
    <Navbar />
    <b-col cols="12">
      <Header />
    </b-col>
    <tabs />
    <nuxt/>
    <Footer />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'
import Footer from '~/components/Footer'
import Header from '~/components/Header'
import tabs from '~/components/tabMenu'

export default {
  components: {
    Navbar, Footer, tabs, Header
  }
}
</script>

