<template>
    <div>
    <b-col cols="12" class="mt-4 d-flex">
      <b-col cols="9">
      <div class="d-flex" style="align-items:center; justify-content:space-between;">
        <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
        <favourite />
      </div>
      <aboutCard />
      </b-col>
      <b-col cols="3"><Trash /></b-col>
    </b-col>
    </div>
</template>

<script>
import aboutCard from '~/components/AboutProduct/aboutCard'
import favourite from '~/components/favourite'

import Trash from '~/components/trash'
export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Продукты',
          to: '/all-categories-food-products'
        },
        {
          text: '',
          active: true
        }
      ]
    }
  },
    components: {
        aboutCard,
        Trash,
        favourite
    }
}
</script>
