<template>
<div>
  <TopBar />
  <b-col cols="12" class="mt-4" style="margin: 0 40px 150px 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>

    <h1>Online Supermarket</h1>
    <hr>
    <h2>Что такое Online Supermarket?</h2>
    <p>
      Online Supermarket является первым онлайн супермаркетом в Армении,
      основателем которого является компания Online Supermarke>. Наша
      трёхъязычная и регулярно обновляемая база десяток тысяч товаров,
      удобные возможности выбора и поиска
      позволяют посетителю делать быстрые и осознанные покупки.
    </p>
    <h2>Наша миссия</h2>
    <p>
      Миссия Online Supermarket – помочь нашему покупателю
      использовать возможности информационной эры, чтобы найти,
      изучить и купить любой продукт.
    </p>
    <h2>Новая философия покупок</h2>
    <p>
      Для армянского покупателя Online Supermarket является наилучшим
      началом для перехода к системе онлайн покупок. Большой выбор товаров
      (приблизительно 30 тысяч наименований товаров) с качественными фотографиями
      и удобными поисковыми инструментами предоставляет покупателю всю полноту
      информации для принятия решения. Все товары, представленные в Online
      Supermarket, – от продуктов питания до хозяйственных товаров, доступны
      в нашем онлайн магазине в результате всего нескольких нажатий мыши.
      Их можно заказать со всех населенных пунктов Республики Армения и
      Нагорного Карабаха, а также со всего мира для Ваших близких и родственников
      в Армении. Впредь, вы можете делать покупки, не посещая супермаркет, особенно
      если он находится вдали от вашего дома. Нужные продукты для вашего дома, офиса,
      ресторана или любого другого заведения Вы можете получить с помощью
      Вашего компьютера. Итак, Online Supermarket создает самую большую
      сеть супермаркетов, которая будет доступна любому потребителю с базовыми
      знаниями компьютера и интернета.
      <br>
      Делать покупки с Online Supermarket не только легко и удобно,
      но и безопасно. Мы гарантируем приватность введенных вами данных
      платежных карт и безопасность суммы на них. Online Supermarket отличается
      от зарубежных онлайн магазинов тем, что у нас Вы можете оплачивать покупку
      не только онлайн, но и в момент доставки у вас дома или в офисе – наличными
      или с помощью платежной карты.
    </p>
    <h2>Об Online Supermarket</h2>
    <p>
      Компания Online Supermarket – одна из лидеров в сфере розничной торговли
      не только в Армении, но и во всем Кавказском регионе.
    </p>
    <p>
      Особое внимание Online Supermarket уделяет качеству продукции, удовлетворяя
      потребности всех своих клиентов. Основное направление деятельности компании -
      розничная торговля: компания управляет одной из наиболее динамично развивающихся
      сетей Online Supermarket в Армении.
    </p>
    <p>
      Еще одним достижением компании Online Supermarket является франчайзинг,
      который за последние годы стал одним из самых перспективных и быстро
      растущих направлений бизнеса. Компания подписала эксклюзивные контракты
      на франчайзинг со всемирно известными английскими брендами НЕКСТ, ДЕБЕНХАМС,
      а также с международным брендом АЛДО.
    </p>
    <p>
      Online Supermarket, будучи одним из ведущих импортеров продуктов питания в
      Армении, сотрудничает с рядом всемирно известных поставщиков и производителей.
      С годами расширяя географию своей деятельности, Online Supermarket импортирует самые
      высококачественные продукты со всех уголков мира.
    </p>
  </b-col>
</div>
</template>

<script>
import favourite from '~/components/favourite'

import TopBar from '~/components/about/AboutTopBar.vue'
export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'О нас',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>

<style lang="scss" scoped>
h1 {
  font-family: Arial;
  font-size: 30px;
}
h2 {
  color: #056a35;
  font-family: Arial;
  font-size: 21px;
}
p {
  font-family: "Roboto";
  font-size: 14px;
}
</style>
