<template>
  <div>
    <TopBar />
    <b-col cols="12" class="mt-4" style="margin: 0 40px 180px 40px; width: calc(100% - 80px);">
      <div class="d-flex" style="align-items:center; justify-content:space-between;">
        <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
        <favourite />
      </div>
      <h2>Контакты</h2>
      <hr>
      <h5>Content here...</h5>
    </b-col>
  </div>
</template>
<script>
import TopBar from '~/components/about/AboutTopBar.vue'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Контакты',
          active: true
        }
      ]
    }
  },
  components: {
    TopBar,
    favourite
  }
}
</script>
