<template>
    <div>
        <b-row class="d-flex">
            <b-col cols="4 p-0 m-0">
                <img src="../../assets/img/4db12afddf70dda845f77cd994416b4c.jpg" alt="">
            </b-col>
            <b-col cols="8 p-0 m-0">
                <h2 class="font-bold">Вермишель ''Barilla" 500г</h2>
                <div>
                <div>
                </div>
                  <h6>Вермишель</h6>
                  <h6>Вес нетто (грамм) 500</h6>
                </div>
                <b-row class="py-4">
                    <b-col cols="3" class="d-flex">
                        <h2  class="text-danger font-bold">580 др</h2>
                    </b-col>
                    <b-col cols="4" class="d-flex">
                        <b-form-spinbutton id="sb-inline" :value="1" inline></b-form-spinbutton>
                    </b-col>
                    <b-col cols="3" class="d-flex">
                        <button class="btn btn-success font-bold rounded-1">В корзину</button>
                    </b-col>
                </b-row>
                <b-tabs pills>
                    <b-tab title="Детали" :title-link-class="linkClass(0)" active><detail /></b-tab>
                    <b-tab title="Состав" :title-link-class="linkClass(0)"><structure /></b-tab>
                    <b-tab title="Способ хранения" :title-link-class="linkClass(0)"><storage /></b-tab>
                </b-tabs>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import detail from '~/components/AboutProduct/detail'
import structure from '~/components/AboutProduct/structure'
import storage from '~/components/AboutProduct/storage'
export default {
    components: {
        detail,
        structure,
        storage
    },
    data() {
      return {
        tabIndex: 0
      }
    },
    methods: {
      linkClass(idx) {
        if (this.tabIndex === idx) {
          return ['bg-white', 'text-success']
        } else {
          return ['bg-white', 'text-dark']
        }
      }
    }
}
</script>

<style lang="scss" scoped>
    .margin {
        margin: 100px 0 150px;
    }
</style>
