<template>
    <div>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Белки, гр./100гр.</b-col>
            <b-col cols="6" class="text-secondary">11.0</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Насыщенные жиры, гр./100гр.</b-col>
            <b-col cols="6" class="text-secondary">0.3</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Волокна, гр./100гр.</b-col>
            <b-col cols="6" class="text-secondary">3.0</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Натрий, гр./100гр.</b-col>
            <b-col cols="6" class="text-secondary">2</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Вес нетто (грамм)</b-col>
            <b-col cols="6" class="text-secondary">500</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Производитель</b-col>
            <b-col cols="6" class="text-secondary">Barilla G.e R. Fratelli</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Ингридиенты</b-col>
            <b-col cols="6" class="text-secondary">Твердая пшеница манной крупы, вода. Может содержать следи яиц.</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Инструкция (способ применения)</b-col>
            <b-col cols="6" class="text-secondary">100г макароны . 1л воды. 7г соль. В кипящую подсоленную воду опустить необходимое количество продукта. Варить 3 минуты, периодически перемешивая.</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Страна производства</b-col>
            <b-col cols="6" class="text-secondary">Италия</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">Код товара</b-col>
            <b-col cols="6" class="text-secondary">002728</b-col>
          </b-col>
        </b-list-group-item>
        <b-list-group-item class="border-right-0 border-left-0 rounded-0">
          <b-col cols="12" class="d-flex p-0">
            <b-col cols="6" class="text-secondary">ID</b-col>
            <b-col cols="6" class="text-secondary">18666</b-col>
          </b-col>
        </b-list-group-item>
    </div>
</template>
