<template>
  <div>
    <b-col cols="12" class="d-flex mt-5">
      <b-col cols="6">
        <b-card>
          <p>Продукты</p>
          <addProductsCategories />
        </b-card>
      </b-col>
      <b-col cols="6">
        <b-card>
          <p>Хозяйственные товары</p>
          <addHomeCategories />
        </b-card>
      </b-col>
    </b-col>
  </div>
</template>

<script>
import addProductsCategories from '@/components/Admin-panel/Categories/add-products-categories'
import addHomeCategories from '@/components/Admin-panel/Categories/add-home-categories'

export default {
  layout: "Admin-panel",
  components: {
    addProductsCategories,
    addHomeCategories
  }
}
</script>
