<template>
  <div>
  <b-col cols="8" class="pt-5">
    <addProducts/>
  </b-col>
  </div>
</template>

<script>
import addProducts from '~/components/Admin-panel/AddProducts'

export default {
  layout: "Admin-panel",
  components: {
    addProducts
  }
}
</script>
