<template>
  <div>
    <div class="p-5">
      <b-button v-b-modal.modal-lg class="bg-dark">+ Добавить товар</b-button>
      <b-modal id="modal-lg" size="lg"><addProducts/></b-modal>
    </div>
    <b-col cols="12">
      <allProducts />
    </b-col>
  </div>
</template>

<script>
import addProducts from '~/components/Admin-panel/AddProducts'
import allProducts from '~/components/Admin-panel/AllProducts'

export default {
  layout: "Admin-panel",
  components: {
    addProducts,
    allProducts
  }
}
</script>
