<template>
  <div>
    <b-col cols="12" class="d-flex">
      <b-col cols="6">
        <graphComes class="mx-auto"/>
      </b-col>
      <b-col cols="6">
        <graphSell class="mx-auto"/>
      </b-col>
    </b-col>
    <b-col cols="12">
      <graphAll class="mx-auto"/>
    </b-col>
  </div>

</template>

<script>
import graphComes from '~/components/Admin-panel/Chart js/GraphComes'
import graphSell from '~/components/Admin-panel/Chart js/GraphSell'
import graphAll from '~/components/Admin-panel/Chart js/GraphAll'
import graphRegular from '~/components/Admin-panel/Chart js/GraphRegularCustomers'


export default {
  layout: "Admin-panel",
  components: {
    graphComes,
    graphSell,
    graphAll,
    graphRegular
  }
}
</script>
