<template>
  <div>
    <b-card>
      <Users />
    </b-card>
  </div>
</template>

<script>
import Users from '~/components/Admin-panel/Users'

export default {
  layout: "Admin-panel",
  components: {
    Users
  }
}
</script>
