<template>
<div>
  <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
    <div class="d-flex" style="align-items:center; justify-content:space-between;">
      <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
      <favourite />
    </div>
  </b-col>
  <foodCategory />
</div>
</template>

<script>
import foodCategory from '~/components/Category/FoodProductsCategory'
import favourite from '~/components/favourite'

export default {
  components: {
    foodCategory,
    favourite
  },
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Продукты',
          active: true
        }
      ]
    }
  }
}
</script>
