<template>
    <div>
        <formProposal />
    </div>
</template>

<script>
import formProposal from '~/components/FormProposal'
export default {
    components: {
        formProposal
    }
}
</script>