<template>
  <div>
    <div class="d-flex my-4">
      <b-col cols="3">
        <sidebar />
        <advantage />
      </b-col>
      <b-col cols="9">
        <b-col cols="12">
          <slider />
        </b-col>
        <b-col cols="12">
          <shopCards />
        </b-col>
      </b-col>
    </div>
  </div>
</template>

<script>
import sidebar from '~/components/Sidebars/productsSideBar'
import slider from '~/components/Sliders/Slider'
import shopCards from '~/components/Shops/ShopCards'
import advantage from '~/components/Advantages'

export default {
  components: {
    sidebar,
    slider,
    shopCards,
    advantage
  }
}
</script>
