<template>
    <div>
        <b-col cols="12" class="mt-4" style="margin: 0 40px; width: calc(100% - 80px);">
          <div class="d-flex" style="align-items:center; justify-content:space-between;">
            <b-breadcrumb class="bg-white" :items="items"></b-breadcrumb>
            <favourite />
          </div>
        </b-col>
        <b-col cols="11" class="mx-auto">
          <img src="../assets/img/c231c9ef318ee4020459701a707c836e.jpg" alt="" class="w-100">
        </b-col>
        <b-col cols="12">
          <b-row>
            <b-col cols="9">
              <stockProposal />
              <stocksCards />
            </b-col>
            <b-col cols="3 mt-3">
              <trash/>
            </b-col>
          </b-row>
        </b-col>
    </div>
</template>

<script>
import stockProposal from '~/components/Stock/StocksProposal'
import stocksCards from '~/components/Stock/StocksCards'
import trash from '~/components/trash'
import favourite from '~/components/favourite'

export default {
  data() {
    return {
      items: [
        {
          text: 'Главная',
          to: '/'
        },
        {
          text: 'Акция',
          active: true
        }
      ]
    }
  },
  components: {
    stockProposal,
    stocksCards,
    trash,
    favourite
  }
}
</script>

