<template>
    <div>
        <b-container
            class="text-dark mt-4 mb-4 text-center font-weight-bold text-uppercase"
        ><h4>Минимаркеты</h4></b-container>
        <div>
            <b-card-group deck>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/b926496860d6a7870976c64965615448.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/4668e863db0d1c91b7e163264388dce4.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/4d6617974ec70142e52b9a7cbe5eac8a.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/d49555ed2dfd40d56972f24b8a3eb0b3.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/08530e90a955a1bcc6a01ccfc6d5329b.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/b9dd50554a58e2fe6e40c98b6c361db3.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/52009899e06c715177deaf99449bd258.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/474b35420ee8ab3a1ba16a76728fdb28.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/0215830e48777554a85d83c1a8ee0fb6.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/225c951d701a5b3b1f19dd0bdbdb8874.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/7758e79d7022b98eadc36faf53248aaf.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/abb52222552290f9f345bd8c056e9303.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/d321d7a7a5de9e5ea91125f49c069c64.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col><b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/d567f80ce97b861f455cdd2edbbab941.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/be443f7962ed7706c4e03cce9f45bab5.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/8f6baedea24d916a17cadcb9f544b26b.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col><b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/6be5148902ed0c1ba6ab733e2ce3990c.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/4ae5d518e208299bd34e10c88644d4d4.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
            </b-card-group>
        </div>
    </div>
</template>

<style scoped>
    img {
        height: 160px;
        object-fit:cover;
        object-position: 50% 50%;
    }
</style>
