<template>
    <div>
        <b-container
            class="text-dark mt-4 mb-4 text-center font-weight-bold text-uppercase"
        ><h4>Минимаркеты</h4></b-container>
        <div>
            <b-card-group deck>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/3d488d28535a2872b4adfcb1b18bdaad.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/d8a495fd71b2432a3f652be928ab3a38.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/380dc66ebff53d2c3163edba5565497c.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/cc8908c47b9af2c7336c7185c434be18.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/png/dfaa19963e5434b1e48cd81e06cf5ba4.png" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/091734c1b4322a3f2263ec8aedc33e48.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/728da175df7038454211d1179b00c9cc.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/2c02b5ddd54732ae76b645a7adc5d2f2.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/dd13b48b1ab17ac59073bc9842731343.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/9af5baaa9c2eb3c1f3a5d40458473b14.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/56917de0c190cd0db630845c52a67a37.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/9b42556f00f9e4fee1733e15b111aa2b.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/041793d8740848cb5299ecc2bcf4b802.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col><b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/161d70c69f20e3c073641d5388ab0108.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/a4d11d9e5961476910b0548d0adb55d0.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/3b0daa38ce2ea3dbc50b8d3e7f58d4d3.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col><b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/55e9a267fae26dcf803365387491a6ce.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/43693639f09778d66bb59a7b67a64f7f.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/09f52d584a229b616d9e920d5b09437b.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col><b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/595534fca2e120745411d856c593cace.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
                <b-col cols="4" class="mb-4 rounded-0">
                    <b-link to="#">
                        <img src="../../assets/img/d948553fde1ee3403e25f954df65871a.jpg" alt="Card image" class="w-100">
                    </b-link>
                </b-col>
            </b-card-group>
        </div>
    </div>
</template>

<style scoped>
    img {
        height: 160px;
        object-fit:cover;
        object-position: 50% 50%;
    }
</style>
